<div id="notifications" class="row">
	<div class="span9">
		<h1>Your Notifications</h1>
		<%= render :partial => "notification", :collection => @notifications %>
	</div>
	<div class="span5">
		<h1>Friend Requests</h1>
		<% unless @pending_friend_requests.blank? %>
			<%= render :partial => "friend_request", :collection => @pending_friend_requests, :as => :user %>
		<% else %>
			None
		<% end %>
	</div>	
</div>