<div id="notifications" class="row">
	<div id="plan-requests" class="span14">
		<h2>Plan Requests</h2>
		<h3>Pending Requests</h3>
		<h3>Your Requests</h3>
	</div>
	<div class="span14"><hr /></div>
	<div id="friend-requests" class="span14">
		<h2>Friend Requests</h2>
		<h3>Pending Requests</h3>
		<h3>Your Requests</h3>
	</div>	
</div>