<div class="container">
  <div class="prepend-2 span-20 append-2">
    <div class="span-20 inner-container">
      <div class="prepend-1 span-18 append-1">
				<div class="span-18">
					<div class="prepend-6 logo">
						<%= image_tag("hangplan-logo.png")%>
					</div>
					<hr />
					<br />
				</div>
				<div class="span-18">
        	<%= yield %>
				</div>
      </div>
    </div>
  </div>
</div>
