<div class="container">
	<div id="header" class="span-24">
		<div class="prepend-2 span-20 append-2">
			<div id="primary-navigation" class="span-20">
				<ul>
	    	  <%= render 'shared/navigation_items' %>
	    	  <%= render 'shared/login_items' %>
	    	</ul>
			</div>
		</div>
	</div>
</div>