<div class="container">
	<div class="content">
		<div class="row">
			<div class="span6">
				<%= link_to image_tag("hangplan-logo.png"), root_path %>
			</div>
			<div class="span8">
				<%= render :partial => "shared/primary_navigation" %>
			</div>
		</div>
		<hr />
	</div>
</div>