<div class="span-10">
	<p class="fancy">Hangplan is the easiest way to plan get togethers with friends and discover what they are doing this week.</p>
	<div class="prepend-2 span-8">
		<%= link_to "Join. Then Hang!", new_user_registration_path, :class => 'big-action-button' %>
	</div>
</div>
<div class="span-8 last">
	<%= image_tag("screenshot1.png") %>
</div>