<!DOCTYPE HTML>
<html>
<head>
	<title>hangplan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style/pageTurner.css" />
    <link rel="stylesheet" type="text/css" href="style/main.css" />
    <link rel="stylesheet" type="text/css" href="style/form.css" />
</head>
<body>
    <script type="text/javascript" charset="utf-8" src="script/phonegap-android.js"></script>
    <script type="text/javascript" charset="utf-8" src="script/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="script/jquery.tmpl.js"></script>
    <script type="text/javascript" charset="utf-8" src="script/pageTurner.js"></script>
    <script type="text/javascript" charset="utf-8" src="script/sha1.js"></script>
	<script type="text/javascript" charset="utf-8" src="script/pg-plugin-fb-connect.js"></script>
	<script type="text/javascript" charset="utf-8" src="script/facebook_js_sdk.js"></script>
	<script type="text/javascript" charset="utf-8" src="script/ContactView"></script>
    <script type="text/javascript" charset="utf-8" src="script/main.js"></script>
    <script src="http://jsconsole.com/remote.js?A1AC884B-E92A-43B6-AB11-36A98252082E"></script>

    
    <div id="worker"><div>Loading...</div><img src="images/loading.gif" alt="Loading..."/></div>
	<div id="header">
		<div class="left">
	    	<a page="..">&nbsp;</a>
	    </div>
	    <h1>
	    	<img src="images/hangplanlogo3.png" id="BtnLogin" alt="logo" />
	    </h1>
	    <div class="right">
		    <a page="^">&nbsp;</a>
		    <a page="/">&nbsp;</a>
	    </div>
	</div>
		
    <div class="container" id="container">  
    	<div class="page" id="root">
    	</div>
		<div class="page" id="loginPage">
		    <div class="header" hide="home"></div>
		    <div class="content">
		    	<div class="messageBlock orange">
		    		<img id="btnLogin" src="images/fb.png" alt="fb" />
		    	</div>	 
		    </div>
		</div>
		<div class="page" id="homePage">
		    <div class="header" hide="home"></div>
		    <div class="content">	
		    	<a page="//form.html#formPage">+ Add</a>    	
		    	<ul id="calendarList">
		    	</ul>    	
		    </div>
		</div>	
	    <script id="calItemTemplate" type="text/x-jquery-tmpl">
			{{if typeof storedDate == "undefined"}}
				<li class="calHeader">
					${hangplan.styledDay(time).toUpperCase()}
				</li>
				${(storedDate = hangplan.fromISO(time).getDate())?'':''}
			{{else}}
				{{if storedDate != hangplan.fromISO(time).getDate()}}
					<li class="calHeader">
						${hangplan.styledDay(time).toUpperCase()}
					</li>
					${(storedDate = hangplan.fromISO(time).getDate())?'':''}
				{{else}}
					<div class="line"></div>
				{{/if}}
			{{/if}}
			<a page="//form.html#formPage">
			<li>
				<div class="left">
					<img class='avatar' src='images/user.png' alt="${user_id}'s logo"/>
				</div>
				<div class="plan left">
		    		<strong>${name}</strong>
		    		<p>${location} - ${time}</p>
		   		</div>
		    	<div class="right">
		    		<img class="arrow" src='images/arrow-right.png' alt="Move on"/>
		    	</div>
				<div class="clear"></div>
			</li>
			</a>
		</script>
</body>
</html>
