[Desktop Entry]
Encoding=UTF-8
Name=Link to mail
Type=Link
URL=https://mail.google.com/mail/?ui=2&ik=934d467557&view=att&th=133088ed6ce6f61b&attid=0.1.1&disp=emb&zw
Icon=gnome-fs-bookmark
