input#plan_start_date_s {
  width: 8em;
  // Todo: Replace with our own image.
  background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yA/r/saFg5U_7LMd.png');
  background-repeat: no-repeat;
  background-position: 95%;
}

select#plan_start_time_s, 
select#plan_end_time_s {
  width: 8em;
}
