p{margin:0;}
.left{float:left;}
.right{float:right;}
.full{width:100%;}
@font-face{font-family:happykiller;src:url(HappyKiller.ttf);}body{margin:0 auto;padding:0;font-family:Helvetica Neue,sans-serif;font-size:1.15em;color:#777777;background-color:#ffffff;background-repeat:no-repeat;background-attachment:fixed;background-position:100% 0%;}
strong{font-size:1.3em;}
#container,.container{height:100%;width:100%;}
#header{background:none;background-color:#b4d6f1;-moz-box-shadow:0px 3px 4px rgba(70, 70, 70, 0.7);-webkit-box-shadow:0px 3px 4px rgba(70, 70, 70, 0.7);box-shadow:0px 3px 4px rgba(70, 70, 70, 0.7);}#header h1{margin:0 auto;padding:0;line-height:50px;}#header h1 img{margin:10px 0 0 0;}
#header .topButton{padding-top:8px;}
#worker{position:absolute;width:150px;height:150px;top:0px;left:0px;overflow:hidden;text-align:center;background-color:rgba(0, 0, 0, 0.85);border-radius:20px;font-size:12pt;z-index:1000;color:#fff;display:none;}#worker div{margin:50px auto 10px auto;width:120px;height:18px;overflow:hidden;}
input,textarea{color:#777777;border:1px solid #cccccc;font-size:12pt;}
.page .content .button{border-radius:5px;border:1px solid #cccccc;background-color:#eee;padding:8px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f2ac93), color-stop(1, #f26532));text-decoration:none;cursor:pointer;color:#777777;font-size:12pt;text-align:center;margin:10px 0;}
.page .content .button.redButton{background-color:red;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, red), color-stop(1, red));}
.page .content .button:hover,.page .content .button.active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f2ac93), color-stop(1, #f26532));text-decoration:none;color:#555555;}
.page .content form{padding:5px;width:98% !important;margin:0 auto;}
#calendarList,#detailPlan,#addPlanForm{padding:0;margin:0;width:100%;}#calendarList .calHeader,#detailPlan .calHeader,#addPlanForm .calHeader{background-color:#f26532;color:#ffffff;padding:5px;font-size:1.3em;}
#calendarList .calBlueHeader,#detailPlan .calBlueHeader,#addPlanForm .calBlueHeader{background-color:#b4d6f1;color:#ffffff;padding:5px;font-size:1.3em;}
#calendarList .arrow,#detailPlan .arrow,#addPlanForm .arrow{padding-top:40px;}
#calendarList .tentative,#detailPlan .tentative,#addPlanForm .tentative{color:#aaa;}
#calendarList .avatar,#detailPlan .avatar,#addPlanForm .avatar{padding:3px;margin:5px;background-color:#cccccc;border:1px solid #cccccc;}
#calendarList .plan,#detailPlan .plan,#addPlanForm .plan{padding:0 7px;}
.calItem{list-style:none;padding:5px;margin:0;border-bottom:1px solid #cccccc;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
