@c1: #f26532; 
@c1l: #f2ac93; 
@bg: #fff;
@text: #777;
@textd: #555;
@border: #ccc;
@c2: #b4d6f1;
@black: #000;

p {
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.box-shadow (@black: 70) {
	-moz-box-shadow: 0px 3px 4px rgba(@black, @black, @black, .7);
	-webkit-box-shadow: 0px 3px 4px rgba(@black, @black, @black,.7);
	box-shadow: 0px 3px 4px rgba(@color, @black, @black, .7);	
}

@font-face {
    font-family: happykiller;
    src: url(HappyKiller.ttf);
}

body{
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica Neue, sans-serif;
	font-size: 12pt;
	color: @text;
	background-color: @bg;		
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 0%;
}


#container, .container{
	height: 100%;
	width: 100%;	
} 

#header{
	.box_shadow;
	background: none;
	background-color: @c2;
	h1{
	    margin: 0 auto;
	    padding: 0;
	    line-height: 50px;
	    img{
	    	margin: 10px 0 0 0;	
	    }
    }
}

#worker{
	position: absolute;
	width: 150px;
	height: 150px;
	top: 0px;
	left: 0px;
	overflow: hidden;
	text-align: center;
	background-color: rgba(0, 0, 0, .85);
	border-radius: 20px;
	font-size: 12pt;
	z-index: 1000;
	color: #fff;
	display: none;
	div{
		margin: 50px auto 10px auto;
		width: 120px;
		height: 18px;
		overflow: hidden;
	}
}

input, textarea{
	color: @text;
	border: 1px solid @border;
	font-size: 12pt;
}

.page .content .button{
    border-radius: 5px;
    border: 1px solid @border;
    background-color: #eee;
    padding: 8px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, @c1l), color-stop(1.0, @c1));
    text-decoration: none;
    cursor: pointer;
    color: @text;
    font-size: 12pt;
    text-align: center;
}
.page .content .button:hover, .page .content .button.active{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, @c1l), color-stop(1.0, @c1));  
    text-decoration: none;  
    color: @textd;   
}

#calendarList {
	padding: 0; margin: 0;
}

#calendarList li {
	width: 100%;
	list-style: none;
	padding: 5px; margin: 0;
}

#calendarList li .avatar {
	padding: 2px;
	margin: 3px;
	background-color: @border;
	border: 1px solid @border;
}

#calendarList .calHeader {
	background-color: @c2;
	padding: 5px;
}

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:@border;
	border-bottom:1px solid @border;
	overflow:hidden;
}