<div class="row participant">
	<div class="span1">
		<%= image_tag participant.user.icon_url %>
	</div>
	<div class="span4">
		<p>
			<%= link_to participant.user.name, participant.user %>
			<br />
			<% if participant.user == current_user %>
				<%= link_to "I'm Out", participant_path(participant), :method => :delete, :class => ['btn', 'supersmall', 'danger'] %>
			<% end %>
		</p>
	</div>
</div>