<!DOCTYPE html>
<html>
  <%= render :partial => "shared/head" %>
  <body>
    <div id="header"><%= render :partial => "shared/header" %></div>
    <div id="main"><%= render :partial => "shared/main" %></div>
    <div id="footer"><%= render :partial => "shared/footer" %></div>
  </body>
</html>
